@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
}

body * {
  color: var(--text-color);

  margin: 0;
  padding: 0;

  outline-color: var(--enf-color);

  box-sizing: border-box;
}

:root {
  --text-color: rgb(255, 255, 255);
  --main-color: #391fff;
  --enf-color: #400080;
  --default-radius: 0.3rem;
  --default-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 20px;
  --text-color: rgb(0, 0, 0);
}
p {
  font-size: 15px;
  --text-color: rgb(0, 0, 0);
  font-weight: bold;
}
b {
  font-size: 800px;
  --text-color: rgb(39, 183, 249);
  font-size: inherit;
}

a {
  font-size: 20px;
  --text-color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}
