.login .logo {
    justify-content: center;
    margin: 1rem auto;
}

.login .title {
    text-align: center;
    font-weight: 300;
    color: black;
}

.login .form {
    max-width: 25rem;
    margin: 1rem auto;
    flex-direction: column;
    gap: 2rem;
}

.login .register {
    max-width: 25rem;
    margin: 0 auto;
    justify-content: center;
}

.login .marca1 {
    text-align: center;
    font-weight: 400;
    color: black;
}