.headline {
  position: sticky;
  font-size: 90px;
  --text-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0rem;

  border-color: rgb(197, 197, 197);
}
.main-headline .title {
  position: sticky;
  font-size: 28px;
  color: var(--main-color);
}

.content {
  position: sticky;
  font-size: 470px;
}

.supp-headline {
  position: sticky;
  font-size: 25px;
  --text-color: rgb(255, 255, 255);
  margin-left: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}
.windowsStrore {
  border-color: rgb(253, 253, 253);
  position: sticky;
  margin-left: 16rem;
  margin-top: -5.5rem;
  margin-right: 1.5rem;
}
.windowsStrore:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.macStrore {
  border-color: rgb(253, 253, 253);
  position: sticky;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-right: 1.5rem;
}
.macStrore:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header img {
  position: sticky;
  max-width: 102%;
}

.header .grid {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 45rem) {
  .header .grid {
    grid-template-columns: 1fr 1fr;
  }
}
.header {
  position: sticky;
  background-color: rgba(20, 12, 91, 0.976);
  margin: 0% 0% 0% 0%;
}

.flex {
  display: flex;
}
h1 {
  position: sticky;
  font-size: 70px;
  --text-color: rgb(255, 255, 255);
}
.message {
  margin-top: 0.5rem;
  font-size: 13px;
  --text-color: rgb(255, 255, 255);
}
.illustration {
  width: 93% !important;
  position: sticky;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  overflow: hidden;
}
